$font-face: 'Open Sans', 'Arial', sans-serif;
$font-light: 'Open Sans Light', 'Arial Italic', sans-serif;

$content-size: 14px;
$content-color: #333333;
$content-bg: #f1f2f2;

$global-bg: #3f4754;
$header-bg: #dde1e8;

$black: #000000;
$white: #ffffff;
$navy: #183f7c;

$bg-link-hover: #c6c6c6;
