$font-face: 'Open Sans', 'Arial', sans-serif;

$content-size: 14px;
$content-color: #333333;
$content-bg: #f1f2f2;

$global-bg: #3f4754;
$header-bg: #dde1e8;

$black: #000000;
$white: #ffffff;
$navy: #183f7c;
$green: #007f00;
$red: #b70001;
$grey: #c6c6c6;

$tablet: "(max-width: 768px)";
$mobile: "(max-width: 500px)";
