.certificates__wrap {
  padding-bottom: 20px;
  position: relative;
}

.certificates__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 4px;
  border-bottom: 2px solid $navy;
  align-items: center;
}

.certificates__name {
  font-size: 16px;
  line-height: 18.35px;
  text-transform: uppercase;
  color: $navy;
  margin: 0;

  @media #{$mobile} {
    font-size: 14px;
  }
}

.certificates__all-link {
  @include article-link;
  min-width: 110px;

  @media #{$mobile} {
    font-size: 12px;
  }
}

.certificates__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.certificates__link {
  max-width: 30%;
  min-width: 84px;
  text-align: center;
}

.certificates__thumb {
  max-width: 100%;
  max-height: 100%;
}
