.cms-content {
  @include case;
  margin-bottom: 30px;

  h1 {
    @include heading;
  }
}

.cms-content__wrapper {
  @include case-wrap;

  h2 {
    @include heading-h2;
  }

  p {
    line-height: 18.35px;
    text-align: justify;
  }

  blockquote {
    @include text(16px, 24px);
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 145px;
    padding-left: 3.1%;
    background-color: $navy;
    color: $white;
    font-style: italic;
    background-image: url('../../img/decoration/balance.png');
    background-position: 96% center;
    background-repeat: no-repeat;

    @media #{$mobile} {
      padding-top: 145px;
      padding-left: 12.5px;
      padding-right: 12.5px;
      background-position: center 25px;
      text-align: center;

    }
  }
}
