.feedback {
  @include case;
  margin-bottom: 30px;
}

.feedback__wrap {
  @include case-wrap;
  padding-bottom: 30px;
}

.feedback__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media #{$mobile} {
    justify-content: center;
  }
}

.feedback__name {
  @include heading;
  margin-bottom: 25px;
}


.feedback__layout {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media #{$mobile} {
    display: block;
  }
}

.feedback__field {
  width: 100%;
  margin-right: 15px;

  @media #{$mobile} {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }

  &--textarea {
    margin-right: 0;
  }
}

.feedback__label {
  @include text(16px, 18px);
  font-weight: bold;
  display: block;
  max-width: 200px;
  margin-bottom: 5px;
}

.feedback__textarea {
  @include form-field;
  resize: vertical;
  height: 85px;
  margin-bottom: 20px;
}

.feedback__input {
  @include form-field;
  max-width: 200px;

  @media #{$mobile} {
    width: 100%;
    max-width: 430px;
  }
}

.feedback__send {
  @include text(16px, 18px);
  padding: 5px 50px;
  border-radius: none;
  background: $navy;
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    background: $grey;
    color: $navy;
  }
}
