.lawyer {
  padding-top: 10px;
  padding-bottom: 5px;
  color: $navy;
  min-height: 117px;
  display: flex;
  justify-content: center;
}

.lawyer__info {
  width: 500px;
  margin-right: 20px;
}

.lawyer__name {
  @include text(22px, 24px);
  margin-top: 0;
  margin-bottom: 7px;
  text-transform: uppercase;
  font-weight: 600;
}

.lawyer__description {
  margin: 0;
  color: $black;
}

.lawyer__contacts {
  @include text(16px, 18px);
  width: 440px;
  font-size: 16px;
}

.lawyer__connections {
  display: flex;
  justify-content: space-between;

  a {
    color: $navy;
    display: block;
  }
}
