.lawyer {
  padding-top: 10px;
  padding-bottom: 17px;
  color: $navy;
  display: flex;
  justify-content: center;

  @media #{$tablet} {
    padding-top: 0;
    padding-bottom: 0;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media #{$mobile} {
    display: block;
    width: 100%;
  }

  &--footer {
    border-bottom: 2px solid $white;
    padding-bottom: 20px;

    @media #{$tablet} {
      display: none;
    }
  }

  &--footer,
  &--footer .lawyer__description,
  &--footer .lawyer__connections a {
    color: $white;
  }
}

.lawyer__info {
  flex-basis: 500px;
  margin-right: 5.41%;

  @media #{$tablet} {
    flex-basis: 307px;
    margin-right: 0;
  }

  @media #{$mobile} {
    width: inherit;
  }
}

.lawyer__name {
  @include text(22px, 24px);
  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;

  @media #{$tablet} {
    width: 307px;
    margin-bottom: 0;
  }

  @media #{$mobile} {
    @include text (18px, 18px);
    width: inherit;
    min-width: 280px;
    text-align: center;
    margin-bottom: 10px;
  }
}

.lawyer__description {
  margin: 0;
  color: $black;

  @media #{$tablet} {
    display: none;
  }
}

.lawyer__contacts {
  @include text(16px, 18px);
  flex-basis: 408px;
  font-size: 16px;

  @media #{$tablet} {
    flex-basis: 72px;
    width: 72px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
  }

  @media #{$mobile} {
    justify-content: center;
    width: inherit;
    text-align: center;
  }
}

.lawyer__adress {
  margin-top: 0;
  margin-bottom: 20px;
  display: inline-flex;
  align-items: center;

  @media #{$tablet} {
    display: none;
  }
}

.lawyer__connections {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media #{$tablet} {
    width: 72px;
  }

  @media #{$mobile} {
    justify-content: flex-start;
    width: 112px;
  }
}

.lawyer__connections a {
  color: $navy;
  display: inline-flex;
  line-height: 32px;

  &:hover,
  &:focus {
    color: $content-color;
  }

  span {
    @media #{$tablet} {
      display: none;
    }
  }
}

.lawyer__phone {
  margin-bottom: 10px;

  @media #{$tablet} {
    margin-bottom: 0;
  }
}

.lawyer__email .lawyer__icon {
  @media #{$tablet} {
    margin-right: 0;
  }
}

.lawyer__icon {
  margin-right: 10px;
  border-radius: 50%;

  @media #{$tablet} {
    margin-right: 8px;
  }
}
