.main-content {
  width: 100%;
  min-width: 320px;
  background-color: $content-bg;
  background-image: url('../img/decoration/bg-content.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: repeat;
}

.main-content__wrap {
  @include wrap;
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
  position: relative;

  @media #{$mobile} {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.main-content__wrap--show-submenu {
  @media #{$tablet} {
    padding-top: 0;
    flex-wrap: wrap;
  }
}

.main__col {
  flex-basis: 670px;
  flex-grow: 1;
}
