.social {
  @include ul-line;
  flex-basis: 440px;
  justify-content: flex-end;
}

.social__item {
  margin-right: 10px;

  &:last-child {
    margin-right: 0;
  }
}

.social__link {

  &:hover .social__icon,
  &:focus .social__icon {
    opacity: 0.5;
  }

  &:active .social__icon  {
    opacity: 0.3;
  }
}

.social__icon {
  display: block;
}
