include mixins

<!-- Doctype HTML5 -->
doctype html
html(lang='ru')
  head
    // Задаем кодировку для страницы
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width')
    link(href='css/main.css', rel='stylesheet')

    // SEO Задание тега Title
    title
      block title

  body
    block content
